<!--  

 <div class="card" style="width: 18rem;">
    <img [src]="productImage" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">{{productTitle}}</h5>
    </div>
    <div class="card-footer position-relative">
        <span class="position-absolute bottom-0 start-0">Price</span>
        <span class="position-absolute bottom-0 end-0"> <b>{{productPrice}}€</b> </span>
    </div>
</div> 

-->


<div class="card" style="width: 18rem;">
    <img src="assets/images/home/image_desktop_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">Nouvelle veste</h5>
    </div>
    <div class="card-footer position-relative">
        <span class="position-absolute bottom-0 start-0">Price</span>
        <span class="position-absolute bottom-0 end-0"> <b>50€</b> </span>
    </div>
</div>