nav {
    width: 100%;
    border-bottom: 1px solid rgb(34, 34, 34);

    #searchbar{
        border:none;
        border-bottom: 1px solid rgb(36, 36, 36);
        background-color: transparent;
        width:100%;
    }
    #searchbar:focus{
        outline: none;
    }
    .btn{
        border:none;
        cursor: none;
    }
}
