.container {
    text-align: center;
    width: 100%;

    h2, h1{
        text-transform: uppercase ;
    }

    .mainTopSelection{
        display:inline-flex;
        width: 40%;
        height: 300px;
        margin-right:1%;
    }
    .desktop_1{
        background: center url('../../../assets/images/home/tv.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .desktop_2{
        background: center url('../../../assets/images/home/new.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
