<div class="modal fade" id="modalAddProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Nouveau produit</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <input type="file" accept="image/*" [(ngModel)]="product.imageName" class="form-control"
                        (change)="showPreview($event)">
                    <img id="myimg" [src]="product.url">
                </div>
                <div class="mb-3">
                    <label class="form-label">Titre du produit</label>
                    <input type="text" class="form-control" [(ngModel)]="product.title" name="title"
                        placeholder="Titre du produit">
                </div>
                <div class="mb-3">
                    <label class="form-label">Prix du produit</label>
                    <input type="text" class="form-control" [(ngModel)]="product.price" name="price"
                        placeholder="Price du produit">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea type="text" class="form-control" [(ngModel)]="product.description" name="price"
                        placeholder="Ecrivez une peite description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantité</label>
                    <input type="number" class="form-control" [(ngModel)]="product.quantity" name="price"
                        placeholder="Entre le nombre de quantité en sotck">
                </div>

            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn-primary" (click)="insert()">Ajouter ce produit</button>
            </div>

        </div>
    </div>
</div>