<div class="adminNav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Vestes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pulls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">T-Shirts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pontalon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Chaussures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Aceesoires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Promtions</a>
        </li>
    </ul>
</div>

<div class="container text-center">

    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddProduct">Ajouter un
        produit</button>


    <div class="row">
        <div *ngFor="let product of products | async" class="col-md-auto">
            <app-admin-product [productTitle]="product.title" [productImage]="product.url"
                [productPrice]="product.price" id="{{product.id}}">
            </app-admin-product>
        </div>



    </div>
</div>





<!-- Modal Create-->
<app-create-product></app-create-product>