<div class="adminNav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/admin/vestes">Vestes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/pulls/">Pulls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/tshirts">T-Shirts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/pontalons">Pontalons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/chaussures">Chaussures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/accessoires">Accessoires</a>
        </li>
    </ul>
</div>

<div class="container text-center">
    <h2>Admin toolbar</h2>
</div>