<nav class="position-relative">
  <div class="position-absolute top-0 start-0">
    <form class="d-flex">
      <span class="btn" type="button"><i class="fas fa-search"></i></span>
      <input id="searchbar" type="search" placeholder="Search">
    </form>
  </div>

  <div class="position-absolute top-0 start-50 translate-middle-x">
    <span>logo</span>
  </div>

  <div class="position-absolute top-0 end-0">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>